<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CF 2.0</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

  </head>
<!-- NAVBAR
================================================== -->
  <body>
    

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
  <!-- <h1>Records</h1> -->



    <b><font size="3pt">If others choose your answer correctly, you will earn <img src="/img/coin.jpg" alt="Smiley face" width="22" height="22">10...</font></b>
  </br>
</br>
<form class="form-horizontal" role="form" action="choose_ending" method="post">
Q1: Who is more responsible?
</br>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions1" id="inlineRadio1" value="option1"> Angus Chia
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions1" id="inlineRadio2" value="option2"> Tiffany Sam
</label>
  </br>
    </br>
</br>
Q2: Who is more responsible?
</br>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions2" id="inlineRadio1" value="option1"> Angus Chia
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="option2"> Tiffany Sam
</label>
  </br>
    </br>
</br>
Q3: Who is more responsible?
</br>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions3" id="inlineRadio1" value="option1"> Angus Chia
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions3" id="inlineRadio2" value="option2"> Tiffany Sam
</label>
  </br>



      </br></br></br></br></br></br>
    <center><button type="submit" class="btn btn-success btn-block">Submit <span class="glyphicon glyphicon-ok"></span></button></center>
  </form>

      <!-- FOOTER -->
      <footer>
        </br></br></br></br></br>
        <p>&copy; 2014 Orrzs Inc.</p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>    
  </body>
</html>
