<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CF 2.0</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

  </head>
<!-- NAVBAR
================================================== -->
  <body>
    

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
  <!-- <h1>Records</h1> -->
</br>
</br>


    <b><center><font size="5pt">Congratulations! You have earned:</font></center></b>
  </br>
    <center><font size="5pt"> <img src="/img/coin.jpg" alt="Smiley face" width="22" height="22"> x 100</font></center>
  </br>
    <div class="row">
      <div class="col-xs-3 col-sm-4">Level <%=@@level[session[:tester]]%></div>
      <div class="col-xs-8 col-sm-6"> 
        <div class="progress">
          <div class="progress-bar progress-bar-info active"  role="progressbar" aria-valuenow="<%=@@progress[session[:tester]]%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=@@progress[session[:tester]]%>%">
           <span class="sr-only"><%=@@progress[session[:tester]]%>% Complete</span>
          </div>
        </div> 
      </div> 
    </div>
  </br>


      </br></br></br></br></br></br></br>
      <form class="form-horizontal" role="form" action="finish_choose" method="post">
    <center><button type="submit" class="btn btn-success btn-block">OK</button></center>
  </form>

      <!-- FOOTER -->
      <footer>
        </br></br></br></br></br></br>
        <p>&copy; 2014 Orrzs Inc.</p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>    
  </body>
</html>
