<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>Compare Friends</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
  </head>
  <body>
    <center>
    <div style="height:150px;"></div>
      <p>
        <h3>You ran out of <img src="/img/heart.jpg" width="20" height="16">!</h3>
        <font size="3">You got to <b>Round <%=@number_of_games_played%></b>!<br><br>
        Let's see if you can go further next time!</font>
        <hr>
        <a href="/home">home</a> 
      </p>
    </center>
  </body>
</html>