<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CF 2.0</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/homepage.css">

  </head>
<!-- NAVBAR
================================================== -->
  <body>
    

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">


        <div class="row">
    <div id="player_name" class="col-xs-5 col-sm-3"><center>
        <img src="/img/user.png" alt="Smiley face" width="25" height="25">       <%=session[:tester]%>
      </center>
    </div>
    <div id="coin_display" class="col-xs-4 col-sm-2"><center><img src="/img/coin.png" alt="Smiley face" width="25" height="25"><%= @@coins[session[:tester]] %></center></div>
    <!-- Optional: clear the XS cols if their content doesn't match in height -->
    <div id="gem_display" class="col-xs-2 col-sm-2" onclick="refillEnergy()"><center><img src="/img/gem.png" alt="Smiley face" width="25" height="25"><div id="gemnum"><%=@@gems[session[:tester]]%></div>
    </center>
    </div>
  </div>
  <!-- <h1>Records</h1> -->
</br>
</br>


    <b><center><font size="5pt">Congratulations!</font></center></b>
    <b><center><font size="5pt">You have reached the next level!</font></center></b>
    <center><font size="4pt" color="gray">Your energy is now refilled!</font></center>

  </br>
    <center><font size="4pt"> <img src="/img/diamond.jpg" alt="Smiley face" width="22" height="22"> <font size="3pt"><span class="glyphicon glyphicon-remove"></span> </font>1</font></center>
  </br>
  <div class="col-xs-12 col-sm-12"><center><font color=#00BFFF size="3pt">Spend <img src="/img/diamond.jpg" alt="Smiley face" width="16" height="16"> to refill your energy!</font></center></p></div>
  </br>


      </br></br></br>
      <form class="form-horizontal" role="form" action="home" method="post">
    <center><button type="submit" class="btn btn-success btn-block">OK</button></center>
  </form>

      <!-- FOOTER -->
      <footer>
        </br></br></br></br></br></br></br></br></br>
        <p>&copy; 2014 Orrzs Inc.</p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>    
  </body>
</html>
